/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/

.logo{
    width: 150px;
}
.main-menu-wrap .btn{
    background-color: #cddd00;
    border:none;
}
.sticky .main-menu-wrap .btn{
    border: 1px solid #000;
}
.greenTitle{
    color:#cddd00;
}
.grayTitle{
    color:#ccc;
}
.paraph-margin{
    margin: 0px 30px;
}
.habu-icon-green {
    width: 150px;
    background-color: #cddd00;
    border-radius: 120px 120px 120px 120px;
    margin-left: 28%;
    padding: 30px;
    margin-top: -150px;
    margin-bottom: 30px;
}
.habu-icon-rose {
    width: 150px;
    background-color: #bf97be;
    border-radius: 120px 120px 120px 120px;
    margin-left: 28%;
    padding: 30px;
    margin-top: -150px;
    margin-bottom: 30px;
}

.habu-icon-aqua {
    width: 150px;
    background-color: #92c0c9;
    border-radius: 120px 120px 120px 120px;
    margin-left: 28%;
    padding: 30px;
    margin-top: -150px;
    margin-bottom: 30px;
}

/* contact */
.sidebar-contact {
  position:fixed;
  top: 50%;
  left: -24em;
  transform: translateY(-50%);
  width: 24em;
  height: auto;
  padding: 40px;
  background: #fff;
  box-shadow: unset;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 9;
}

.sidebar-contact.active {
  left:0;
  -webkit-box-shadow: 18px 4px 67px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 4px 67px -25px rgba(0,0,0,0.75);
  box-shadow: 18px 4px 67px -25px rgba(0,0,0,0.75);
}

.sidebar-contact input,
.sidebar-contact textarea {
  width: 100%;
  height: 36px;
  padding: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.5);
  outline: none;
}

.sidebar-contact h2 {
  font-size: 20px !important;
  line-height: 36px !important;
}

.sidebar-contact textarea {
  height: 60px;
  resize: none;
}

.sidebar-contact input[type="submit"] {
  background: #cddd00;
  color: #fff;
  border: none;
}

.toggle {
  position: absolute;
  height: 3em;
  width: 3em;
  text-align: center;
  cursor: pointer;
  background: #cddd00;
  top: 0;
  opacity: 0.6;
  right: -3em;
  line-height: 3em;
  border-radius: 0px 15px 15px 0px;
}

#sidebar-contact-alert {
  display: none;
}

#sidebar-contact-alert.active{
  display: unset;
}

#sidebar-contact {
  display: none;
}

#sidebar-contact.active{
  display: unset;
}

#sidebar-contact-result {
  display: none;
}

#sidebar-contact-result.active{
  display: unset;
}

.toggle.active {
  opacity: 1;
  transition: 0.5s;
}

.toggle:before {
  content: '\f003';
  font-family: fontAwesome;
  font-size: 18px;
  color: #fff;
}

.toggle.active:before {
  content: '\f00d';
}

.img-contact {
 width: 70%;
}
/* contact */